---
const pageTitle = "About me";
const identity = {
  firstName: "PastLink",
  country: "Mexico",
  occupation: ["Psychologist", "Organizational Psychologist"],
  hobbies: ["Foreign Languages", "Linux", "Reading", "Videogames"],
};

const skills = ["Psychology", "HTML", "CSS", "JavaScript", "Astro", "Writing"];

const happy = true;
const finished = false;
const goal = 3;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>{pageTitle}</h1>

    <h2>Who am I</h2>
    <p>
      For reasons that should be obvious to anyone on the Internet, I'm not
      giving my real name, but I've used the '{identity.firstName}' nickname for
      so long
      <br />that you might as well call me that. I'm a {identity.occupation[1]},
      although I just call myself a {identity.occupation[0]} since I studied more
      <br />on my own before going to university that I barely learnt anything
      new that wasn't specifically about businesses. In any case, I don't
      <br />really see myself as one, it was a hobby to learn Psychology and I'm
      more interested in research than whatever an IO Psychologist should do.
      <br />I like to learn new things, that's why I have a hard time getting
      good at one thing fast, but I'll be worth it in the long run, I'm sure.
      <br />I'm bilingual, Spanish and English. And although I'm fluent in both,
      don't ask me technical questions in Spanish, most of my knowledge was
      <br />and is being acquired in English and I just don't know the words in
      Spanish for most things. I'm also learning other languages, first one is
      <br />Japanese, to the surprise of few, I'll say I'm intermediate, I'm
      quite comfortable listening, kind of struggle with reading but getting
      better,
      <br />though I haven't tried to output at all, so no speaking. The other
      one is French, which I didn't think I would like, but here I am, also
      hittitng
      <br />the intermediate level in input, again, no output at all. I enjoy
      using <a
        href="https://www.reddit.com/r/copypasta/comments/av4rl9/what_youre_referring_to_as_linux_is_in_fact/"
        target="_blank">Linux</a
      > for most things, but right now I try to separate my hobbies/work
      <br />from entertaiment, like games/movies/anime/etc. between the two
      OSes, Linux and Windows. Right now I'm learning Web Development and
      <br />since I have a background in Psychology I want to learn more about
      programming to try to get closer to my dream of being a Neuroscientist.
    </p>

    <p>
      Right now my hobbies are: {identity.hobbies[0]}, {identity.hobbies[1]},
      {identity.hobbies[2]}, {identity.hobbies[3]}.
    </p>
    <p>
      <strong>TL;DR</strong> I'm a Psychologist, Language Enthusiast, Linux Enthusiast,
      Web Developer and I aspire to become a Neuroscientist one day.
    </p>

    <p>My current skills are:</p>
    <ul>
      {skills.map((skill) => <li>{skill}</li>)}
    </ul>

    <h3>What I do</h3>
    <p>I'm learning...</p>
    <ul>
      <li>Math <em>(at which I'm getting better at!)</em></li>
      <li>Web Development</li>
      <li>Computer Science</li>
      <li>Foreign languages</li>
      <li>More Psychology</li>
      <li>How to be a better, overall healthier person!</li>
    </ul>

    <p>I work on...</p>
    <p>
      For now I'm just learning things and enjoying my hobbies, in a few weeks
      or months I might become an English teacher, but that's still a maybe.
      <br />
    </p>

    <h3>My languages</h3>
    <ol>
      <li>Spanish: Native</li>
      <li>English: Naturalized*</li>
      <li>Japanese: Intermediate</li>
      <li>French: Low intermediate</li>
    </ol>
    <p>
      * By Naturalized I mean that I've used the language for so long and for so
      many things that it is just second nature to me. I'm not a native,
      <br />but the difference is pretty negligible.

      {happy && <p>I am happy to be learning Astro!</p>}

      {finished && <p>I finished this tutorial!</p>}

      {
        goal === 3 ? (
          <p>My goal is to finish in 3 days.</p>
        ) : (
          <p>My goal is not 3 days.</p>
        )
      }
    </p>
  </body>
</html>
